*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* HEADER */

header {
  background-color: #1f2937;
  margin: 0 auto;
  padding: 20px 180px;
}

.header_nav {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.nav--heading-link {
  margin-right: auto;
  text-decoration: none;
}

.nav--heading {
  margin: 0;
  color: #f9faf8;
  font-weight: 700;
  font-size: 1.5rem;
}

.nav--link-list {
  margin: 0;
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav--link-list a {
  color: #e5e7ebb1;
  font-size: 1.125rem;
  text-decoration: none;
}

.hero_wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
}

.hero_content {
  flex: 1;
  align-self: center;
}

.hero_heading {
  color: #f9faf8;
  font-size: 3rem;
  line-height: 0.8;
  margin: 0;
  margin-bottom: 12px;
}

.hero_text {
  color: #e5e7ebb1;
  font-size: 1.125rem;
  /* margin: 0; */
  margin-bottom: 12px;
}

.header_btn--sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 8px 32px;
  border-color: #3882f6;
  border-radius: 8px;
}

.hero--image-wrapper {
  flex: 1;
  height: 250px;
  display: flex;
}

.hero--image {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* IMAGES SECTION */

.section_images {
  padding-bottom: 96px;
}

.section_images h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
  letter-spacing: -1px;
  margin: 40px 0;
}

.image-container {
  padding: 0 200px;
  display: flex;
  justify-content: center;
  gap: 56px;
}

.image-wrapper {
  flex: 0 1 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
}

.image-wrapper figcaption {
  text-align: center;
  margin-top: 12px;
  color: #000000aa;
}

/* QUOTES SECTION */

.section_quotes {
  background-color: #e5e7eb;
  padding: 80px;
}

.section_quotes blockquote {
  width: 70%;
  margin: 0 auto;
}

.section_quotes .quote {
  color: #1f2937aa;
  font-style: italic;
  font-size: 36px;
}

.section_quotes .blockquote footer {
  font-weight: bold;
  text-align: end;
  font-size: 24px;
}

/* CALL TO ACTION SECTION */

.section_call-to-action {
  padding: 56px 76px;
  margin: auto;
}

.section_call-to-action .call-to-action {
  max-width: 80%;
  background-color: #3882f6;
  padding: 40px 80px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_call-to-action h3 {
  margin: 0;
}

.call-to-action--text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.call-to-action--text p {
  margin: 0;
}

.call-to-action--actions a {
  text-decoration: none;
  display: block;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 32px;
}

/* FOOTER */

.footer {
  background-color: #1f2937;
  padding: 32px;
}

.footer p {
  color: white;
  margin: 0;
  text-align: center;
}

.footer p > span {
  margin: 8px;
}
